{% extends 'login/base-login.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<body class="login-page">
<section class="login-page">
    <form action="{{ path('app_login') }}"method="post">
        <h1 class="login-page">Login</h1>
        <div class="inputbox">
        <input type="email" value="{{ last_username }}" name="_username" id="username" placeholder="E-mail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="inputbox">
        <input type="password" name="_password" id="password" placeholder="Wachtwoord" class="form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
            <div class="remember mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>

        <button class="login-page" type="submit">
            Login
        </button>
        <div class="forget">
<a href="{{ path('app_forgot_password_request') }}">Forgot password?</a>

        </div>
        {% if error %}
            <div class="login-page error" href="{{ path('app_login') }}">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
    </section>
</body>
{% endblock %}
