{% extends 'base.html.twig' %}

{% block title %}Maak een nieuwe notitie
{% endblock %}

{% block body %}
	<div class="notes-header">
		<h1>Maak een nieuwe notitie</h1>

	</div>

	<form method="post" action="{{ path('note_new') }}">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" id="title" name="title" class="form-control" required>
		</div>

		<div class="form-group">
			<label for="content">Content</label>
			<textarea id="content" name="content" placeholder="Voor het maken van een code snippet gebruik deze format: (taal//code)" class="form-control" rows="5" required></textarea>
		</div>

		<div class="form-group">
			<label for="category">Category</label>
			<select id="category" name="category" class="form-control" required>
				{% for category in ['note', 'question'] %}
					<option value="{{ category }}">{{ category|capitalize }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group mt-3">

			{% if projects is empty %}
				<div class="alert mt-4">
					<h4 class="alert-heading">Geen projecten gevonden</h4>
					<p>Je moet eerst een project aanmaken voordat je een notitie kunt maken.</p>
					<hr>
					<a href="{{ path('project_new') }}" class="btn btn-primary">
						Nieuw Project Aanmaken</a>
				</div>

				<i class="fas fa-plus"></i>
			{% else %}
				<div class="form-group">
					<label for="project">Project</label>
					<select id="project" name="project" class="form-control" required>
						{% for project in projects %}
							<option value="{{ project.id }}">{{ project.name }}</option>
						{% endfor %}
					</select>
				</div>
			{% endif %}

		</div>


		<div class="form-group mt-3">
			<button type="submit" class="btn btn-primary">
				Opslaan
			</button>
			<a href="{{ path('app_notes') }}" class="btn btn-secondary ml-2">
				Annuleren
			</a>
		</div>

	</form>
{% endblock %}
