{% extends 'dashboard/index.html.twig' %}

{% block body %}
    <div class="site-wrap">
        <nav class="site-nav">
            <div class="name">
                Home
            </div>
        {# {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %} #}
            <ul>
                <li class="active"><a href="#">Nieuw</a>
                    <ul>
                        {# <li><a href="{{ path('project') }}">Projecten</a></li> #}
                        <li><a href="{{ path('upload') }}">Uploads</a></li>
                        {# <li><a href="{{ path('message_index') }}">Berichten</a></li> #}
                    </ul>
                </li>
                <li><a href="#0">Code snippets</a></li>
                <li><a href="#0">Projects</a></li>
                    <ul>
                        <li><a href="#0">Alle projecten </a></li>
                        <li><a href="#0">Recente projecte</a></li>
                    </ul>
                <li><a href="#0">Notes</a></li>
                <li><a href="#0">Feedback</a></li>
                <li><a href="#0">Contact</a></li>
            </ul>

            <div class="note">
            </div>
        </nav>

        <main>
            <div class="content-columns">
                <div class="col">
                    <div class="item">Recente projecten</div>
                </div>
                <div class="col">
                    <div class="item">Feedback</div>
                </div>
                <div class="col">
                    <div class="item">Meldingen</div>
                </div>
                <div class="col">
                    <div class="item">Git commit counter</div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
